<div class="bs-example">
    <table class="table table-striped">
      
        <thead>
            <tr >
                <th *ngFor="let col of columns">
                    <div [class.moveup] = "!col.isSearchable">
                        {{col.name}} 
                        <span (click)="sortData(col)" *ngIf="col.isSortable">
                            <img src="/assets/image/sort.png" class="sortimg"/>
                        </span>
                    </div>
                    <div *ngIf="col.isSearchable">
                        <input (input) = "searchColumnData($event.target.value,col)"  class="form-control searchip" type="text"/>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rowData">
                <td>{{data.id}}</td>
                <td>{{data.firstName}}</td>
                <td>{{data.lastName}}</td>
                <td>{{data.email}}</td>
            </tr>
        </tbody>
    </table>
</div>