<div class="acc">
    <ng-container *ngFor="let accData of data">
        <app-accordian [header] = "accData.header">
            <div>
                <ul>
                    <li *ngFor = "let data of accData.dataList">
                        {{data.name}} - {{data.email}}
                    </li>
                </ul>
            </div>
        </app-accordian>
    </ng-container>
</div>

